<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="generator" content=
          "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />

    <title>GarageMania.com</title>
  </head>

  <body>

    <div class="topbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#overview">Home</a></li>
          <li class=""><a data-controls-modal="post-sale-div" data-backdrop="true">Post A Sale</a></li>
          <li class=""><a href="#about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="masterhead">
      <div class="inner">
        <div class="container">
          <h1>Finally, a place to see where local treasures can be be found.</h1>

          <p class="lead">GarageMania.com is a site where local yard sale hunters can look
            at what's upcoming in the local neighborhood.<br />
            Get started now! Enter an address below.<br /></p>
        </div><!-- /container -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="span11">
        <div class="content">

          <div id="view-listing-pane" class="div-shadow">

            <div class="find-sale">
              <form>
                <fieldset>
                  <legend>Find a yard sale now!</legend> <!-- /clearfix -->

                  <label for="xlInput2">Find Near:</label>

                  <div class="input">
                    <input class="xlarge error" id="xlInput2" name="xlInput2" size="30" type=
                           "text" /> <span class="help-inline">Enter an address.</span>
                  </div>


                  <label>Date Range</label>

                  <div class="input">
                    <div class="inline-inputs">
                      <input class="small" type="text" value="May 1, 2011" />
                      <input class=
                             "mini" type="text" value="12:00am" /> to <input class="small" type="text"
                             value="May 8, 2011" /> <input class="mini" type="text" value="11:59pm" />
                      <span class="help-inline">Enter a time..</span>
                    </div>
                  </div>

                  <a id="find-now-btn" class="btn large primary">Find a sale now!</a>
                </fieldset>
              </form>

            </div>


            <%#= debug @maps_json %>
            <%= gmaps(
              "markers" => {"data" => @maps_json},
              "map_options" => {"detect_location" => true, "center_on_user" => true, "auto_adjust" => true}
              ) %>

            <br />

          </div>
          <div id="post-sale-div" class="modal hide fade">

            <% if @listing && @listing.errors.any? %>
              <div id="messages" class="alert-message error">
                <% @listing.errors.full_messages.each do |msg| %>
                  <div class="oops"><strong>Oops!</strong> <%= msg %></div>
                <% end %>
              </div>
            <% end %>

            <a name="post-sale" id="post-sale"></a>

            <fieldset>
              <legend>Post a yard sale now!</legend>

              <%= render 'form_create' %>

            </fieldset>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <fieldset>
          <legend>Here are the listings in the area:</legend>
        </fieldset>
      </div>

      <div id="footer">
      </div>
    </div>
    <div class="hide">
      <p id="notice"><%= notice %></p>
    </div>


  </body>

</html>